# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Üretilen raporlar
rapor/
*.html
!templates/*.html
*.md
!README.md
*.json

# PyInstaller
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
